@model AquariumForum_2.Models.Discussion

@{
    ViewData["Title"] = "Discussion Details";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>

<div>
    @* Display profile image for the discussion author *@
    @if (Model.ApplicationUser != null)
    {
        <div class="d-flex">
            @if (!string.IsNullOrEmpty(Model.ApplicationUser.ImageFilename))
            {
                <div class="pe-2">
                    <img src="~/profile_img/@Model.ApplicationUser.ImageFilename" alt="@Model.ApplicationUser.Name" class="profile-thumbnail" />
                </div>
            }
            <div class="p-2">
                <strong>@Model.ApplicationUser.Name</strong> <br />
                <p>@(string.IsNullOrEmpty(Model.ApplicationUser.Location) ? "Location not provided" : Model.ApplicationUser.Location)</p>

            </div>
        </div>
    }
    <hr />
    <!-- Display Image if it exists -->
    @if (!string.IsNullOrEmpty(Model.ImageFilename))
    {
        <dd class="col-sm-10">
            @* <img src="~/images/@Model.ImageFilename" alt="Discussion Image" style="max-width: 300px; max-height: 200px;" /> *@
            <img src="~/images/@Model.ImageFilename" alt="Discussion Image" style="width: 80%; object-fit: cover;" />
        </dd>
        <hr /> 
    }

   
    <p><b>@Html.DisplayNameFor(model => model.Content)</b></p>
    <p>@Html.DisplayFor(model => model.Content)</p>
    <hr />

    @* <p><b>@Html.DisplayNameFor(model => model.ImageFilename)</b></p> *@
    @* <p>@Html.DisplayFor(model => model.ImageFilename)</p> *@
    @* <hr /> *@

    <div class="create-date-container">
        <p class="m-0"><b>Created:</b></p>

        @* Display relative date (X days ago) *@
        @if (Model.CreateDate != null)
        {
            var daysAgo = (DateTime.Now - Model.CreateDate).Days;
            <span class="relative-date">
                @if (daysAgo == 0)
                {
                    <span style="color: #aaa;">Today</span>
                }
                else if (daysAgo == 1)
                {
                    <span style="color: #aaa;">1 day ago</span>
                }
                else
                {
                    <span style="color: #aaa;">@daysAgo days ago</span>
                }
            </span>
        }
        else
        {
            <span class="relative-date">No date available</span>
        }
    </div>


    <hr />
</div>

<!-- Section for displaying existing comments -->
<h3>Comments</h3>
<div>
    @if (Model.Comment != null && Model.Comment.Count > 0)
    {
        @foreach (var comment in Model.Comment)
        {
            <div>
                <p>
                    <div class="create-date-container">
                        <b>@comment.ApplicationUser.Name</b>
                        @* Display relative date for the comment *@
                        @if (comment.CreateDate != null)
                        {
                            var daysAgo = (DateTime.Now - comment.CreateDate).Days;
                            <span class="relative-date">
                                @if (daysAgo == 0)
                                {
                                    <span style="color: #aaa;">Today</span>
                                }
                                else if (daysAgo == 1)
                                {
                                    <span style="color: #aaa;">1 day ago</span>
                                }
                                else
                                {
                                    <span style="color: #aaa;">@daysAgo days ago</span>
                                }
                            </span>
                        }
                        else
                        {
                            <span class="relative-date" style="color: #aaa;">No date available</span>
                        }
                    </div>

                    @comment.Content
                </p>
            </div> <br />

        }
    }
    else
    {
        <p>No comments yet. Be the first to comment!</p>
    }
</div>



<!-- Link to create a new comment -->
<div>
    <!-- Link to Comments/Create action with discussionId -->
    <a asp-action="Create" asp-controller="Comments" class="btn btn-primary" asp-route-discussionId="@Model.DiscussionId">
        <i class="fa-regular fa-comment"></i>&nbspAdd a Comment
    </a>

    <!-- Link to the index or previous page -->
    <a asp-action="Index" class="btn btn-primary">
        <i class="fa-solid fa-house"></i>&nbspBack to List
    </a>
</div>

